.root {
  padding: 20px 32px;
  background-color: var(--chakra-colors-gray-100);
  display: flex;
  justify-content: center;
  flex-grow: 1;
  height: 100%;
  width: 100%;
}

.listContainer {
  max-width: 1280px;
  width: 100%;
  border-radius: 10px;
  background-color: #fff;
}
